/* Kanban progress container */
.kanban-progress {
    position: relative;
    height: 16px;
    background: #adadad !important;
    border-radius: 4px;
    overflow: hidden;
    font-size: .75rem;
    font-family: 'Roboto', sans-serif;
}

/* Ensure progress bars stay inside container */
.kanban-progress .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: #007bff;
    height: 100%;
    border-radius: 4px;
    display: block;
}

.kanban-progress .overshoot {
    background-color: #ad0000;
}
